.App {
  width: 100vw;
  height: 100vh;

  background-color: var(--primary1);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.App::-webkit-scrollbar-button {
  display: none;
}

@media screen and (min-width: 1500px) {
  .App {
    width: 1400px;
    height: 90vh;
    overflow-y: hidden;
    border-radius: 1rem;
  }
}

@media screen and (min-height: 1000px) {
  .App {
    width: 1400px;
    height: 800px;
    margin: auto;
    overflow-y: hidden;
    border-radius: 1rem;
  }
}
