.chat {
  height: 100%;
  border-radius: 2rem 2rem 0 0;
  background-color: var(--primary2);
  padding: 1rem;
}

.roomUsers {
  height: 20%;
  background-color: var(--primary1);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat .inputWrapper {
  position: relative;
  height: 10%;
  padding: 0rem 1rem;
  background-color: var(--primary1);
  border-radius: 2rem;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}

.messageInput {
  width: 80%;
  height: 80%;
  padding: 0.5rem;
  background-color: var(--messageBg);
  border-radius: 2rem;
  outline: none;
  border: none;
  color: white;
}

#sendBtn {
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 1500px) {
  .chat {
    border-radius: 2rem;
  }
}
