.chat {
  height: 100%;
  border-radius: 2rem;
  background-color: var(--primary2);
  padding: 1rem;
}

.roomUsers {
  height: 20%;
  background-color: var(--primary1);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat .messages {
  height: 70%;
}

.chat .inputWrapper {
  position: relative;
  height: 10%;
  padding: 0rem 1rem;
  background-color: var(--primary1);
  border-radius: 2rem;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}

.messageInput {
  width: 80%;
  height: 80%;
  padding: 0.5rem;
  background-color: var(--messageBg);
  border-radius: 2rem;
  outline: none;
  border: none;
  color: white;
}

.messages {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.messages div span:last-child {
  transition: all 0.5s;
  animation: renderAnimation 0.5s linear 1;
}

@keyframes renderAnimation {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#sendBtn {
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
}
