.layout {
  width: 100%;
  color: var(--headerTextColor);
  height: 100%;
  display: flex;
}

.rightSideBar,
.leftSideBar {
  display: none;
}
.main {
  flex: 2;
  margin-bottom: 1rem;
  background-color: var(--primary1);
}

.header {
  height: 10%;
  background-color: var(--primary1);
}
.deskTopTopHeader {
  display: none;
}
.main .header .mobileTopHeader {
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.mobileTopHeader .chatlogo,
.mobileTopHeader .notification {
  width: 30%;
}

.mobileTopHeader .notification {
  text-align: end;
}
.mobileTopHeader .notification span {
  position: fixed;
  display: inline-block;
  padding: 1rem;
  background-color: var(--primary2);
  border-radius: 1rem;
  color: var(--activeColor);
  top: 10px;
  right: 3rem;
  overflow: visible;
}

.notification span::after {
  position: absolute;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--primary2);
  right: -18px;
  top: 30%;
}
.main .header .toggleWrapper {
  padding: 0 1rem;
  height: 40%;
  display: flex;
  justify-content: space-between;
}

.toggleBtn {
  outline: none;
  border: none;
  background-color: var(--primary1);
  cursor: pointer;
  padding: 0.2rem;
}

.toggleBtn:hover {
  background-color: gray;
  opacity: 0.5;
  border-radius: 0.5rem;
}

#userInfo img {
  border: 3px solid var(--messageBg);
  object-fit: cover;
}
.header .isConnected {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.indicator {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.inactive {
  background-color: var(--inactiveColor);
}

.active {
  background-color: var(--activeColor);
}
.main .header {
  height: 15%;
}

.main .chatWrapper {
  height: 85%;
}

#userInfo {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.roomsBox,
.usersBox {
  border-radius: 2rem;
  position: absolute;
  width: 100vw;
  height: 70vh;
  background-color: var(--primary1);
  display: flex;
  flex-direction: column;
  top: 14vh;
  z-index: 2;
  padding: 1rem;
}

.roomsBox {
  left: 0px;
}

.usersBox {
  right: 0px;
}

.createRoomBtn {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid var(--messageBg);
  border-radius: 1rem;
  background-color: var(--primary1);
  color: var(--headerTextColor);
  cursor: pointer;
}

.rightSideBar .users,
.leftSideBar .chatInfo {
  padding: 1rem;
}

.dropDownOpener {
  padding: 1rem;
}

.dropDownOpener span {
  color: var(--inactiveColor);
}

@media screen and (min-width: 900px) {
  .leftSideBar,
  .rightSideBar {
    display: block;
    flex: 1;
    padding: 0.5rem 1rem;
  }

  .main .header {
    height: 10%;
  }

  .main .chatWrapper {
    height: 90%;
  }

  .main .header .toggleWrapper {
    display: none;
  }

  .rightSideBar .header .notification {
    display: inline-block;
  }
  .leftSideBar .header .chatlogo {
    display: inline-block;
  }
  .main .header .mobileTopHeader {
    display: none;
  }

  .deskTopTopHeader {
    width: 60%;
    margin: auto;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }

  .rightSideBar .notification span {
    position: fixed;
    display: inline-block;
    padding: 1rem;
    background-color: var(--primary2);
    border-radius: 1rem;
    color: var(--activeColor);
    top: 10px;
    right: 22rem;
    overflow: visible;
  }

  .deskTopTopHeader img {
    border: 3px solid var(--messageBg);
    object-fit: cover;
  }
  .roomsBox .usersBox {
    display: none;
  }
}
