.message {
  margin-top: 1rem;
  padding: 1rem;
}

.yourMessage {
  position: relative;
  background-color: var(--messageBg);
  float: right;
  overflow: visible;
}

.yourMessage::after {
  position: absolute;
  content: url(../../public/rightToolTip.png);
  right: -15px;
  top: -9px;
  width: 32px;
  height: 32px;
}
.othersMessage {
  position: relative;
  overflow: visible;
  background-color: var(--primary1);
  float: left;
}

.othersMessage::before {
  position: absolute;
  content: url(../../public/leftToolTip.png);
  left: -15px;
  top: -6px;
  width: 32px;
  height: 32px;
}

.wrapper1 {
  display: flex;
  padding: 0.5rem;
  border-radius: 1rem;
  align-items: center;
  position: relative;
}
.img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.sender {
  text-transform: capitalize;
  font-size: 10px;
}

.time {
  font-size: 8px;
  float: right;
  color: gray;
}

.content {
  display: inline-block;
  color: white;
  text-transform: capitalize;
  word-wrap: break-word;
  max-width: 60vw;
}
.wrapper2 {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.date {
  text-align: center;
  color: var(--inactiveColor);
  font-size: 12px;
}

@media screen and (min-width: 1000px) {
  .content {
    max-width: 400px;
  }
}
