.rooms {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: visible;
}

.rooms li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--primary2);
}

.rooms li div img {
  object-fit: cover;
  border-radius: 0.5rem;
}

.rooms li div span {
  color: white;
  margin-left: 5px;
}

#btn1 {
  outline: none;
  padding: 0.5rem;
  border: 5px solid var(--messageBg);
  background-color: var(--primary1);
  border-radius: 1rem;
  color: var(--headerTextColor);
  cursor: pointer;
  transition: all 0.2s;
}

#btn1:hover {
  opacity: 0.5;
}
#chats {
  position: relative;
  overflow: visible;
}

#chats button {
  outline: none;
  padding: 0.5rem;
  background-color: var(--primary1);
  color: var(--headerColor);
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

#chats button:hover {
  color: var(--activeColor);
}
.msgCounter {
  position: absolute;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  top: -22px;
  right: -15px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--activeColor);
  background-color: var(--primary2);
}
