.sign_up_form {
  width: 100%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputWrapper label {
  color: var(--inactiveColor);
}

.inputWrapper input {
  display: block;
  outline: none;
  padding: 1rem 0.5rem;
}
.inputWrapper #text {
  text-transform: capitalize;
}

#text,
#email {
  border: 2px solid var(--headerTextColor);
  width: 40%;

  color: white;
  border-radius: 2rem;
}

.inputWrapper div {
  width: 40%;
  display: flex;
  align-items: center;
  border: 2px solid var(--headerTextColor);
  background-color: var(--primary1);
  color: white;
  border-radius: 2rem;
  justify-content: space-between;
  padding-right: 0.5rem;
  transition: all 0.5s;
}

.inputWrapper div:hover {
  margin-top: 1rem;
  width: 50%;
}

.inputWrapper div i {
  cursor: pointer;
}

.inputWrapper div input {
  outline: none;
  border: none;
  width: 80%;
  color: white;
}

#text:valid,
.password:valid,
#email:valid {
  background-color: white;
  color: var(--activeColor);
}

#text:invalid,
.password:invalid,
#email:invalid {
  background-color: var(--primary1);
  transition: all 0.5s;
}

#text:focus,
#email:focus {
  margin-top: 1rem;
  width: 50%;
  transition: all 1s;
}

.inputWrapper #imageLabel {
  width: 40%;
  background-color: var(--primary1);
  color: var(--headerTextColor);
  padding: 1rem 0.5rem;
  border: 2px solid var(--headerTextColor);
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 10px;
}

.sign_up_form p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sign_up_form p span {
  color: var(--headerTextColor);
}

.sign_up_form p button {
  margin-left: 1rem;
}

.btn {
  outline: none;
  border: 3px solid var(--headerTextColor);
  border-radius: 1rem;
  color: var(--headerTextColor);
  background-color: var(--primary2);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  border: 3.1px solid rgba(00, 255, 255, 0.5);
}
.inputWrapper .btn:disabled {
  color: var(--inactiveColor);
}

@media screen and (min-width: 1000px) {
  .sign_up_form {
    width: 80%;
  }
}
